<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/m-styles.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="span5">
                @RenderBody()
            </div>
            <div class="span7">
                <div class="row-fluid">
                    <div class="span12" style="margin-top: 25px;">
                        <img src="/Content/images/tweelogo_noborder.png" style="float: left;" /><p style="font-weight: bold; font-size: 130px; margin-top: 95px;">Twee</p>
                    </div>

                </div>
                <div class="row-fluid">
                    @*                    <div class="span6">
                        <a href="#" class="m-btn big purple">Download latest stable <i class="m-icon-big-swapdown m-icon-white"></i></a>
                        <div class="download stable">
                            <img src="http://qrcode.kaywa.com/img.php?s=5&d=https://www.dropbox.com/s/z2sdwva9zs1kmas/twee.apk" />
                        </div>
                    </div>*@
                    <div class="span12">

                        <ul class="pitch">
                            <li>
                                <div class="pitch-row">
                                    <img src="/Content/images/icons/cloud.png" />
                                    <div class="information">
                                        <h1>Cloud backup</h1>
                                        <p>Backup your progress to the internet and sync between devices</p>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="pitch-row">
                                    <img src="/Content/images/icons/community.png" />
                                    <div class="information">
                                        <h1>Community driven</h1>
                                        <span>Information comes from the open source community <a href="http://www.thetvdb.com" target="_blank">TheTVDB</a></span>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="pitch-row">
                                    <img src="/Content/images/icons/design.png" />
                                    <div class="information">
                                        <h1>Beautiful design</h1>
                                        <span>Follows the android design guidelines and supports <a href="http://developer.android.com/design/style/themes.html" target="_blank">themes</a></span>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </li>
                        </ul>


                        @*<h2>Sales pitch</h2>
                        <ul style="list-style-type: square">
                            <li>Based on information from the community (<a href="http://www.thetvdb.com" target="_blank">TheTVDB</a>)</li>
                            <li>Beautiful UI</li>
                            <li>Beautiful UI</li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>
    @RenderSection("JavaScript", false)
</body>
</html>
