<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/m-styles.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="span5">
                @RenderBody()
            </div>
            <div class="span7">
                <div class="row-fluid">
                    <div class="span12" style="margin-top: 25px;">
                        <img src="/Content/images/tweelogo_noborder.png"/><span style="font-weight: bold;font-size: 130px;vertical-align: text-top;">Twee</span>
                    </div>
                    
                </div>
                <div class="row-fluid" >
                    <div class="span6">
                        <a href="#" class="m-btn big purple">Download latest stable <i class="m-icon-big-swapdown m-icon-white"></i></a>
                        <div class="download stable">
                            <img src="http://qrcode.kaywa.com/img.php?s=5&d=https://www.dropbox.com/s/z2sdwva9zs1kmas/twee.apk" />
                        </div>
                    </div>
                    <div class="span6">
                        <a href="#" class="m-btn big red">Download latest beta <i class="m-icon-big-swapdown m-icon-white"></i></a>
                        <div class="download beta">
                            <img src="http://qrcode.kaywa.com/img.php?s=5&d=https://www.dropbox.com/s/z2sdwva9zs1kmas/twee.apk" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>
    @RenderSection("JavaScript", false)
</body>
</html>
