@model TweeWebb.Models.Backup
@{
    ViewBag.Title = "Twee - " + Model.Username;
    Layout = "~/Views/Shared/_SocialLayout.cshtml";
}
<div id="container">
    @{
        int i = 0;
    }
    @foreach (var show in Model.Shows)
    {
 
        <div class="box">
            <div class="header">
                <img src="@(show.GetImage())" alt="@show.Name"/>
                <div class="overlay">
                    <h2>@show.Name</h2>
                </div>
            </div>
            <div class="summary">
                <p>@show.Summary</p>
            </div>
            <div class="seasons">
                <ul class="unstyled season">
                    @foreach (var season in show.Seasons.OrderBy(x => x.Number))
                    {
                        <li>

                            <div class="seasonwrapper">
                                @season.getSeason()<div class="progress pull-right clearfix">
                                    <div class="progress-bar" style="width: @(season.Percent)%;"></div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <ul class="unstyled episodes" style="display: none;">
                                @foreach (var episode in show.Episodes.Where(x => x.Season == season.Number.ToString()).OrderBy(x => x.Aired))
                                {
                                    <li>@episode.GetTitle()  <i style='color: @(episode.Watched == "1" ? "#428bca;" : "#e2e2e2")' class="icon-ok-sign icon-2 pull-right"></i></li>
                                }
                            </ul>
                        </li>
                    }

                </ul>
            </div>

        </div>
        
                    if (i == 0)
                    {
        <div class="box ad">
            <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
                    }

                    i++;
    }
</div>
